<%
  is_open = local_assigns[:dialog_opened] || false
  dialog_message = local_assigns[:message] || 'No message provided'
  dialog_buttons = local_assigns[:buttons] || [{label: 'OK', value: 'ok'}]
%>

<dialog id="dialog" <%= "open" if is_open %>>
  <p><%= dialog_message %></p>
  <form id="dialog-form" method="post">
    <input type="hidden" name="button" id="dialog-button-value" />
    <% dialog_buttons.each do |btn| %>
      <button type="button" onclick="document.getElementById('dialog-button-value').value='<%= btn[:value] %>'; document.getElementById('dialog-form').submit();"><%= btn[:label] %></button>
    <% end %>
  </form>
</dialog>