<%
  is_open = local_assigns[:dialog_opened] || false
  dialog_message = local_assigns[:message] || 'No message provided'
  dialog_buttons = local_assigns[:buttons] || [{label: 'OK', value: 'ok'}]
%>

<dialog id="dialog" <%= "open" if is_open %>>
  <p><%= dialog_message %></p>
  <form method="dialog">
    <% dialog_buttons.each do |btn| %>
      <button value="<%= btn[:value] %>"><%= btn[:label] %></button>
    <% end %>
  </form>
</dialog>